<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суммаризатор и рерайтер</title>
    <link rel="shorcut icon" href="../static/image/icons/icon.png" sizes="16x16">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="header-links">
            <div class="header-link header-link-left">
                <a href="https://developers.sber.ru" class="link" target="_blank">Создано с использованием моделей от Sber</a>
            </div>
            <div class="header-link">
                <img src="../static/image/icons/github.png" alt="github" class="icon">
                <a href="https://github.com/DelicaLib/Rewriter-Summarizator-Web" class="link link-github" target="_blank">
                     Наш GitHub
                </a>
            </div>
            <div class="header-link header-link-right">
                <a href="#" class="link" target="_blank">Инструкция к использованию</a>
            </div>
        </div>
        <nav>
            <div class="nav-element">
                <h2 class="nav-element-header">
                    Суммаризатор
                </h2>
                <img class="nav-element-image" src="../static/image/summarizator.png" alt="summarizator">
                <button class="nav-element-button" onClick="goToSummarizator()">
                    Перейти
                </button>
                <a href="https://developers.sber.ru/portal/products/summarizer" class="link more" target="_blank">Подробнее</a>
            </div>
            <div class="nav-element">
                <h2 class="nav-element-header">
                    Рерайтер
                </h2>
                <img class="nav-element-image" src="../static/image/rewriter.png" alt="summarizator">
                <button class="nav-element-button" onClick="goToRewriter()">
                    Перейти
                </button>
                <a href="https://developers.sber.ru/portal/products/rewriter" class="link more" target="_blank">Подробнее</a>
            </div>
        </nav>
    </header>
    <section id="summarizator">
        <div class="main-window">
            <h3 class="input-header">Суммаризатор</h3>
            <div class="main-window-container">
                <textarea placeholder="Введите свой текст здесь. Минимальная длина: 10 символов" id="summarizator-original-text"></textarea>
                <div class="input-control">
                    <div class="input-settings">
                        <span class="modes-settings-header">Выберите режим</span>
                        <div class="modes-settings">
                            <button name="standart" id="mode" class="nav-element-button">
                                Стандарт
                            </button>
                            <button name="original" id="mode" class="nav-element-button">
                                Оригинальность
                            </button>
                            <button name="user" id="mode" class="nav-element-button">
                                Пользовательский
                            </button>
                        </div>
                        <span class="link extra-settings-button noselect" onClick="Summarizator.changeExtraSettingMenuStatus()">Дополнительные настройки</span>
                        <div class="extra-settings">
                            <div class="generate-method">
                                <button name="beamsearch" id="method" class="nav-element-button" data-tooltip="Привет, я Дима Воронков">
                                    Лучевой
                                </button>
                                <button name="sampling" id="method" class="nav-element-button" data-tooltip="Привет, я не Дима Воронков">
                                    Вероятностный
                                </button>
                            </div>  
                            <div class="extra-settings-main">
                                <div class="extra-settings-container">
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="num_beams">
                                            <label for="num_beams" class="noselect" data-tooltip="Этот параметр показывает количество гипотез на каждом временном шаге. Это целое число больше 1.">
                                                Кол-во лучей: 
                                            </label>
                                        </div>
                                        <input type="number" name="num_beams" id="num_beams" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="num_return_sequences">
                                            <label for="num_return_sequences" class="noselect" data-tooltip="Количество последовательностей, которые вернёт ИИ в результате. Параметр является целым числом.">
                                                Кол-во вариантов: 
                                            </label>
                                        </div>
                                        <input type="number" name="num_return_sequences" id="num_return_sequences" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="no_repeat_ngram_size">
                                            <label for="no_repeat_ngram_size" class="noselect" data-tooltip="Показывает количество слов в сочетаниях слов. Это используется для того, чтобы ИИ избегал повторов сочетаний слов этой длины. Параметр является целым числом.">
                                                Длина сочетаний слов: 
                                            </label>
                                        </div>
                                        <input type="number" name="no_repeat_ngram_size" id="no_repeat_ngram_size" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="repetition_penalty">
                                            <label for="repetition_penalty" class="noselect" data-tooltip="Это число в диапазоне от 0 до 1, где 1 означает отсутствие штрафа.">
                                                Штраф за повторы: 
                                            </label>
                                        </div>
                                        <input type="number" name="repetition_penalty" id="repetition_penalty" step="0.01" value="0.0" disabled>
                                    </div>
                                </div>
                                <div class="extra-settings-container">
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="top_k">
                                            <label for="top_k" class="noselect" data-tooltip="Значение, которое отвечает за количество наиболее вероятных следующих слов. Целое неотрицательное число.">
                                                top_k: 
                                            </label>
                                        </div>
                                        <input type="number" name="top_k" id="top_k" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="top_p">
                                            <label for="top_p" class="noselect" data-tooltip="Выбирается наименьший возможный набор слов, суммарная вероятность которых превышает вероятность p. Число в диапазоне от 0 до 1.">
                                                top_p: 
                                            </label>
                                        </div>
                                        <input type="number" name="top_p" id="top_p" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="temperature">
                                            <label for="temperature" class="noselect" data-tooltip="Параметр ИИ моделей, который регулирует случайность и, соответственно, креативность ответов. Это число в диапазоне от 0 до 1.">
                                                Температура: 
                                            </label>
                                        </div>
                                        <input type="number" name="temperature" id="temperature" step="0.01" value="0.0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="length_penalty">
                                            <label for="length_penalty" class="noselect" data-tooltip="Экспоненциальный штраф к длине. значение > 0 способствует увеличению длины последовательностей, а значение < 0 - уменьшению длины последовательностей.">
                                                Штраф за длину: 
                                            </label>
                                        </div>
                                        <input type="number" name="length_penalty" id="length_penalty" step="0.01" value="0.0" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-control-buttons">
                        <button class="nav-element-button" id="submit" disabled>
                            Сжать текст
                        </button>
                        <span class="AI-info" id="summarizator-info"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="AI-result main-window" id="summarizator-result" style="display: none;">
            <div class="variant-buttons">
                <div class="variant-buttons-line">
                    <div class="four" id="four-0">
                        <button class="variant-button current" id="variant" name="variant-1" onClick="variantClick(this)">Лучший вариант</button>
                        <button class="variant-button" id="variant" name="variant-2" onClick="variantClick(this)">Вариант 2</button>
                        <button class="variant-button" id="variant" name="variant-3" onClick="variantClick(this)">Вариант 3</button>
                        <button class="variant-button" id="variant" name="variant-4" onClick="variantClick(this)">Вариант 4</button>
                        <button class="more-variants" id="variant-next" name="variants-next" onClick="Summarizator.nextPageResult()">Больше ></button>
                    </div>
                </div>
            </div>
            <div class="AI-text">
                <p id="AI-text"></p>
            </div>
        </div>
    </section>
    <section id="rewriter">
        <div class="main-window">
            <h3 class="input-header">Рерайтер</h3>
            <div class="main-window-container">
                <textarea placeholder="Введите свой текст здесь. Минимальная длина: 10 символов" id="rewriter-original-text"></textarea>
                <div class="input-control">
                    <div class="input-settings">
                        <span class="modes-settings-header">Выберите режим</span>
                        <div class="modes-settings">
                            <button name="standart" id="mode" class="nav-element-button">
                                Стандарт
                            </button>
                            <button name="original" id="mode" class="nav-element-button">
                                Оригинальность
                            </button>
                            <button name="user" id="mode" class="nav-element-button">
                                Пользовательский
                            </button>
                        </div>
                        <span class="link extra-settings-button noselect" onClick="Rewriter.changeExtraSettingMenuStatus()">Дополнительные настройки</span>
                        <div class="extra-settings">
                            <div class="extra-settings-main">
                                <div class="extra-settings-container">
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="num_return_sequences">
                                            <label for="num_return_sequences" class="noselect" data-tooltip="Количество последовательностей, которые вернёт ИИ в результате. Параметр является целым числом.">
                                                Кол-во вариантов: 
                                            </label>
                                        </div>
                                        <input type="number" name="num_return_sequences" id="num_return_sequences" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="repetition_penalty">
                                            <label for="repetition_penalty" class="noselect" data-tooltip="Это число в диапазоне от 0 до 1, где 1 означает отсутствие штрафа.">
                                                Штраф за повторы: 
                                            </label>
                                        </div>
                                        <input type="number" name="repetition_penalty" id="repetition_penalty" step="0.01" value="0.0" disabled>
                                    </div>
                                </div>
                                <div class="extra-settings-container">
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="top_k">
                                            <label for="top_k" class="noselect" data-tooltip="Значение, которое отвечает за количество наиболее вероятных следующих слов. Целое неотрицательное число.">
                                                top_k: 
                                            </label>
                                        </div>
                                        <input type="number" name="top_k" id="top_k" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="top_p">
                                            <label for="top_p" class="noselect" data-tooltip="Выбирается наименьший возможный набор слов, суммарная вероятность которых превышает вероятность p. Число в диапазоне от 0 до 1.">
                                                top_p: 
                                            </label>
                                        </div>
                                        <input type="number" name="top_p" id="top_p" value="0" disabled>
                                    </div>
                                    <div class="extra-setting">
                                        <div class="extra-setting-label">
                                            <input type="checkbox" id="temperature">
                                            <label for="temperature" class="noselect" data-tooltip="Параметр ИИ моделей, который регулирует случайность и, соответственно, креативность ответов. Это число в диапазоне от 0 до 1.">
                                                Температура: 
                                            </label>
                                        </div>
                                        <input type="number" name="temperature" id="temperature" step="0.01" value="0.0" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-control-buttons">
                        <button class="nav-element-button" id="submit" disabled>
                            Переписать текст
                        </button>
                        <span class="AI-info" id="rewriter-info"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="AI-result main-window" id="rewriter-result" style="display: none;">
            <div class="variant-buttons">
                <div class="variant-buttons-line">
                    <div class="four" id="four-0">
                        <button class="variant-button current" id="variant" name="variant-1" onClick="variantClick(this)">Bertscore</button>
                        <button class="variant-button" id="variant" name="variant-2" onClick="variantClick(this)">Classifier</button>
                        <button class="variant-button" id="variant" name="variant-3" onClick="variantClick(this)">Вариант 3</button>
                        <button class="variant-button" id="variant" name="variant-4" onClick="variantClick(this)">Вариант 4</button>
                        <button class="more-variants" id="variant-next" name="variants-next" onClick="Rewriter.nextPageResult()">Больше ></button>
                    </div>
                </div>
            </div>
            <div class="AI-text">
                <p id="AI-text"></p>
            </div>
        </div>
    </section>
    <div class="tooltip"></div>
</body>
<script src="../static/scripts/IAIModel.js"></script>
<script src="../static/scripts/summarizator.js"></script>
<script src="../static/scripts/rewriter.js"></script>
<script src="../static/scripts/script.js"></script>
</html> 