<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суммаризатор и рерайтер</title>
    <link rel="shorcut icon" href="../static/image/icons/icon.png" sizes="16x16">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-links">
            <div class="header-link header-link-left">
                <a href="https://developers.sber.ru" class="link" target="_blank">Создано с использованием моделей от Sber</a>
            </div>
            <div class="header-link">
                <a href="https://github.com/DelicaLib/Rewriter-Summarizator-Web" class="link link-github" target="_blank">
                    <img src="../static/image/icons/github.png" alt="github" class="icon"> Наш GitHub
                </a>
            </div>
            <div class="header-link header-link-right">
                <a href="№" class="link" target="_blank">Инструкция к использованию</a>
            </div>
        </div>
        <nav>
            <div class="nav-element">
                <h2 class="nav-element-header">
                    Суммаризатор
                </h2>
                <img class="nav-element-image" src="../static/image/summarizator.png" alt="summarizator">
                <button class="nav-element-button">
                    Перейти
                </button>
                <a href="https://developers.sber.ru/portal/products/summarizer?attempt=1" class="link more" target="_blank">Подробнее</a>
            </div>
            <div class="nav-element">
                <h2 class="nav-element-header">
                    Рерайтер
                </h2>
                <img class="nav-element-image" src="../static/image/rewriter.png" alt="summarizator">
                <button class="nav-element-button">
                    Перейти
                </button>
                <a href="https://developers.sber.ru/portal/products/summarizer?attempt=1" class="link more" target="_blank">Подробнее</a>
            </div>
        </nav>
    </header>
</body>
</html>